.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.left-session {
 
  display: flex;
  align-items: center;

}
.menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.u-logo {
  height: 20px;
}





.middle-session {
  display: flex;
  align-items: center;
 
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}
.search {
  border-color: rgb(219, 219, 219);
  flex: 1;
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 10px;
  height: 36px;
  text-size-adjust: 100%;
  border-radius: 2px;
  
 
  
}
.search:active {
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);

}
.search::placeholder{
  font-family: Roboto ,Arial;
 
}

.search-b {
  width: 60px;
  height: 42px;
  border-radius: 2px;
  
 
  border-color: rgb(219, 219, 219);
  margin-left: -1px;

}
.search-b :active{
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);

}
  
 
  
  

.search-icon {
  height: 25px;
  margin-top: 5px;

  
}

.voice-search-button {
  width: 60px;
  height: 36px;
}
 
.right-session {
  background-color: aquamarine;
  width: 200px;
}